<html>
  <head>
    {{  content_for_header }}
  </head>

  {% sections 'header-group' %}
  
  <body id="main">
    <div class="landing-page">
      {{ content_for_layout }}
    </div>
  </body>
  
  {% sections 'footer-group' %}
</html>