<!doctype html>
<html>
  <head>
    {{  content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://use.typekit.net/fod0bmg.css">

  </head>
  

  <body id="main" style="margin: 0;">

    {% sections 'landing-header-group' %}

    <div class="landing-page">
      {{ content_for_layout }}
    </div>

    {% sections 'landing-footer-group' %}
    
  </body>

  

</html>