<html>
  <head>
    {{  content_for_header }}
  </head>

  
  
  <body id="main">
    {% sections 'landingHeader-group' %}
    <div class="landing-page">
      {{ content_for_layout }}
    </div>
    {% sections 'landingFooter-group' %}
  </body>

  

</html>