{%- style -%}
  #footer-basic {
    width: 100%;
    padding: 48px 28px;
    box-sizing: border-box;
  }
  #footer-basic .footer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  #footer-basic .footer-image img {
    width: 100%;
  }
  #footer-basic .footer-text {
    display: flex;
    justify-content: space-between;
  }
  #footer-basic div {
    color: var(--Black, #000);
    text-align: center;
    font-family: 'Halyard Text';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
{%- endstyle -%}

<footer id="footer-basic">
  <div class="footer-image">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="Footer Image" />
  </div>
  <div class="footer-text">
    <div class="left_text">
      {{ section.settings.left_text }}
    </div>
    <div class="right_text">
      {{ section.settings.right_text }}
    </div>
  </div>
</footer>

{%- schema -%}
{
  "name": "Footer (Basic)",
  "settings": [
    {
      "type": "text",
      "id": "left_text",
      "label": "Text (Left Column)",
      "default": "© 2024 Lone Star Trash"
    },
    {
      "type": "text",
      "id": "right_text",
      "label": "Text (Right Column)",
      "default": "Powered by ONBOX"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Image to display in the footer"
    }
  ]
}
{%- endschema -%}
