{%- style -%}
  .header-image {
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    width: 132px;
    margin: 0 auto;
  }
  .header-image img {
    max-width: 100%;
    height: auto;
  }
{%- endstyle -%}

<header>
  <div class="header-image">
    {%- if section.settings.header_image %}<img src="{{ section.settings.header_image | img_url: 'master' }}" alt="Header Image" />{%- endif -%}
  </div>
</header>

{%- schema -%}
{
  "name": "Landing Page Header",
  "enabled_on": {
    "groups": [
      "custom.header"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Header Image",
      "info": "The image that will be displayed in the header."
    }
  ]
}
{%- endschema -%}