{%- style -%}
  #footer-basic {
    width: 100%;
    padding: 0 40px 20px;
    box-sizing: border-box;
  }
  #footer-basic .footer-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }
  #footer-basic .footer-image img {
    width: 100%;
  }
  #footer-basic .footer-text {
    display: flex;
    justify-content: space-between;
  }
  #footer-basic div {
    color: var(--Black, #000);
    text-align: center;
    font-family: 'halyard-text', 'Halyard Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  @media (max-width: 768px) {
    #footer-basic {
      padding: 0;
    }
    #footer-basic .footer-image {
      overflow: hidden;
    }
    #footer-basic .footer-image img {
      width: auto;
      height: 264px;
    }
    #footer-basic .footer-text {
      flex-direction: column;
      gap: 4px;
      padding: 0 20px 20px;
    }
  }
{%- endstyle -%}

<footer id="footer-basic">
  <div class="footer-image">
    {%- if section.settings.image -%}<img src="{{ section.settings.image | img_url: 'master' }}" alt="Footer Image" />{%- endif -%}
  </div>
  <div class="footer-text">
    <div class="left_text">
      {{ section.settings.left_text }}
    </div>
    <div class="right_text">
      {{ section.settings.right_text }}
    </div>
  </div>
</footer>

{%- schema -%}
{
  "name": "Landing Page Footer",
  "enabled_on": {
    "groups": [
      "custom.footer"
    ]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "left_text",
      "label": "Text (Left Column)",
      "default": "© 2024 Lone Star Trash"
    },
    {
      "type": "inline_richtext",
      "id": "right_text",
      "label": "Text (Right Column)",
      "default": "Powered by ONBOX"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Image to display in the footer"
    }
  ],
  "presets": [
    {
      "name": "Landing Page Footer",
      "settings": {
        "left_text": "© 2024 Lone Star Trash",
        "right_text": "Powered by ONBOX",
        "image": "shopify:\/\/shop_images\/6ed4f9e68dba8ee2b43fc236992681df.png"
      }
    }
  ]
}
{%- endschema -%}
