html, body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 480px) {
  .custom .card__heading {
    font-size: 18px;
    line-height: 20px;
  }
  .custom .card-information > .price {
    font-size: 14px;
    line-height: 16px;
  }
}